<div class="center jumbotron">
    <h1 id="welcome">Welcome to Socially...</h1>

    <h3 id="welcome-text">
      Connect with your friends and socialize easily with Socially, signup to begin...
    </h3>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
