<% provide(:title, "About") %>
<h1>About</h1>
<p class="general general-center">
   Hello ! I am Arpan, the creater of Socially. Socially is a hobby project maintained by me.
   The webiste is build using Ruby on Rails and is based on the sample app in 
   The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
   Tutorial</em></a> by Michael Hartl.
</p>
<p class="general general-center">
  Connect with me here...
</p>
<div class="icon-box general-center">
    <a href="https://github.com/Arp-G" target="_blank" title="Github"><i class="devicon-github-plain colored"></i></a>
    <a href="https://www.linkedin.com/in/arpan-ghoshal-063665142/" target="_blank" title="Linkedin"><i class='fab fa-linkedin'></i></a>
    <a href="https://www.facebook.com/ArpRokzz" target="_blank" title="Github"><i class='fab fa-facebook'></i></a>
</div>