<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class="general general-center">
<p>
  For any query email me at <a href="mailto:name@email.com">arpanghoshal3@gmail.com</a>
</p>
  
<p class="general general-center">
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
</div>