<% provide(:title, "Help") %>
<h1>Help</h1>
<p class="general general-center">
  For any bugs contact me at <a href="mailto:name@email.com">arpanghoshal3@gmail.com</a>
</p>

<p class="general general-center">
  Or reach out ot me at...
</p>

<div class="icon-box general-center">
    <a href="https://github.com/Arp-G" target="_blank" title="Github"><i class="devicon-github-plain colored"></i></a>
    <a href="https://www.linkedin.com/in/arpan-ghoshal-063665142/" target="_blank" title="Linkedin"><i class='fab fa-linkedin'></i></a>
    <a href="https://www.facebook.com/ArpRokzz" target="_blank" title="Github"><i class='fab fa-facebook'></i></a>
</div>