<% if logged_in? %>                                         <!-- Display form allowing user to create micropost on home page only if user is logged in -->
  <%= render 'static_pages/logged_in_home' %>               <!-- Renders the partial _logged_in_home.html.erb containing code to show create micropost form and user info -->
<% else %>
  <%= render 'static_pages/logged_out_home' %>              <!-- Renders the partial _logged_out_home.html.erb containing code to show signup now option -->
<% end %>
            
            
            
            
            
            
            
            
