<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>   <!-- 
                                                                Pass a hash {object: f.object} as a prameter to the _error_messages partial, this will pass the form to the 
                                                                error messages partial thus rendering errors in the password reset form 
                                                                -->

      <%= hidden_field_tag :email, @user.email %>     <!-- we expect to find the user by email address, which means we need its value in both the edit and update actions. 
                                                      The email will automatically be available in the edit action because of its presence in the password reset link, but after we
                                                      submit the form its value will be lost. The solution is to use a hidden field to place (but not display) the email on
                                                      the page, and then submit it along with the rest of the form’s information. We can get the email from params[:email] while
                                                      all other user form data can found using params[:user][:password] , etc -->

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>