// This file updates the follow form with the follow partial (which is what should show after a successful unfollowing) and update the follower count. 

// The escape_javascript method, is used to escape out the result when inserting HTML in a JavaScript file.


$("#follow_form").html("<%= escape_javascript(render('users/follow')) %>");
$("#followers").html('<%= @user.followers.count %>');