
$(".active-like").html("<%= link_to raw("<i class='fas fa-thumbs-up'></i>"),micropost_like_path(micropost, pre_like), method: :delete, class: "active-like",  remote: true%>");

$(".like-count").html("<%= micropost.likes.count %> <%= (micropost.likes.count) == 1 ? 'Like' : 'Likes'%>");