

$("#inactive-like").html(" <%= link_to raw("<i class='fas fa-thumbs-up'></i>"),micropost_likes_path(micropost), method: :post, class: "inactive-like",remote: true%>");

$("#like-count").html('<%= micropost.likes.count %> <%= (micropost.likes.count) == 1 ? 'Like' : 'Likes'%>');