<!-- This form only contains a button 'Follow' which issues a POST request to the controller for creating a new relatioship 
     The hidden tag is needed to send the followed_id to the controller so that it can make the following relationship
     with the user with the id = followed_id
     Setting remote: true sets the variable data-remote="true" inside the form tag, which tells Rails to allow the form to be handled by JavaScript
     and thus allows us to implement AJAX requests 
  -->
  
<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>