<% unless current_user?(@user) %>              <!-- If @user is current user not need to display 'follow' & 'unfollow' option  (user cannot follow unfollow himself)-->
  <div id="follow_form">                  
  <% if current_user.following?(@user) and !@user.admin? %> <!-- 
                                                                  If current user is following @user and the @user is not admin show 'unfollow' option else if the @user is not admin 
                                                                  show 'follow' option 
                                                            -->
    <%= render 'unfollow' %>
  <% elsif !@user.admin? %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>