<!-- This form only contains a button 'Unfollow' which issues a DELETE request to the controller for deleting a relatioship  
     Seeting remote: true sets the variable data-remote="true" inside the form tag, which tells Rails to allow the form to be handled by JavaScript
     and thus allows us to implement AJAX requests
-->


<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
             remote: true) do |f| %>   
      <%= f.submit "Unfollow", class: "btn" %>
<% end %>