<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %> <!-- Generates pagination for users -->

<ul class="users">

    <%= render @users %> <!--  @users is a list of User objects; moreover, when called with a collection of users, -->
                          <!--   Rails automatically iterates through them and renders each one with the _user.html.erb partial-->

</ul>

<%= will_paginate %> <!-- Generates pagination for users -->