<% if object.errors.any? %>                <!-- Here 'object' is actaully a value passed to this partial, object can be either @user or @micropost since error_messages might be needed by poth -->
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>





