<% if @feed_items.any? %>         <!-- if there are any feeds in the @feed_items instance variable of static_pages_controller then render them -->
  <ol class="microposts">
    <%= render @feed_items %>     <!-- the @feed_items actually contains all the microposts of the current user (check user.rb for the methof feed() ),
                                       thus since each element of @feed_items is a micropost and therfore has class Micropost. This causes Rails
                                       to look for a partial '_micropost.html.erb' in the views directory of the given resource.
                                       Thus each element of @feed_items is rendered as a micropost 
                                  -->
                                       
                                  
  </ol>
  <%= will_paginate @feed_items %>
<% end %>