<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
   <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %> <!-- include the uploader on the Home page, format validation by using the accept parameter in the file_field input tag-->
  </span>
<% end %>


<!-- 
     Even if our code cleared the file input field, there would be no way to prevent a user from editing the JavaScript with a web inspector or issue
     a direct POST request using, e.g., curl. To prevent users from uploading arbitrarily large files, it is thus essential to include a server-side validation 
-->

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {            // associate a jQuery event 'onchange' with the <img> with id="micropost_picture"
    var size_in_megabytes = this.files[0].size/1024/1024;        // find the size of the image in megabytes
    
    if (size_in_megabytes > 5) {                                          // If size is greater that 5 mb show an alert message
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>