<% @user ||= current_user %>                     <!-- If @user is nil (as in home page) set @user to current_user else do nothing (as in profile page where @user != nil) -->
<div class="stats">
  <a href="<%= following_user_path(@user) %>">   <!-- following_user_path(@user) -> GET request, link for seeing following's of @user -->
    <strong id="following" class="stat">
      <%= @user.following.count %>               <!-- following/follower counts are calculated through the associations -->
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">   <!-- followers_user_path(@user) -> GET request, link for seeing followers of @user -->
    <strong id="followers" class="stat">
      <%= @user.followers.count %>               
    </strong>
    followers
  </a>
</div>