<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <%= image_tag micropost.picture.url if micropost.picture? %>
  
  <br>
  
  <div class="reactions">
    
    <div class="likes">
      
      <% pre_like = micropost.likes.find { |like| like.user_id == current_user.id } %>
      
      <% if pre_like %>

        <%= link_to raw("<i class='fas fa-thumbs-up'></i>"),micropost_like_path(micropost, pre_like), method: :delete, class: "active-like"%>
    
      <% else %>

        <%= link_to raw("<i class='fas fa-thumbs-up'></i>"),micropost_likes_path(micropost), method: :post, class: "inactive-like"%>
    
      <% end %>

      <p class="likes-count"><%= micropost.likes.count %></p>
    </div>
    
    <div class="hearts">
      
      <% pre_heart = micropost.hearts.find { |heart| heart.user_id == current_user.id } %>
      
      <% if pre_heart %>

        <%= link_to raw("<i class='fas fa-heart'></i>"),micropost_heart_path(micropost, pre_heart), method: :delete, class: "active-heart"%>
    
      <% else %>

        <%= link_to raw("<i class='fas fa-heart'></i>"),micropost_hearts_path(micropost), method: :post, class: "inactive-heart"%>
    
      <% end %>

      <p class="hearts-count"><%= micropost.hearts.count %></p>
    </div>
    
    <div class="dislikes">
      
      <% pre_dislike = micropost.dislikes.find { |dislike| dislike.user_id == current_user.id } %>
      
      <% if pre_dislike %>

        <%= link_to raw("<i class='fas fa-thumbs-down'></i>"),micropost_dislike_path(micropost, pre_dislike), method: :delete, class: "active-dislike"%>
    
      <% else %>

        <%= link_to raw("<i class='fas fa-thumbs-down'></i>"),micropost_dislikes_path(micropost), method: :post, class: "inactive-dislike"%>
    
      <% end %>

      <p class="dislikes-count"><%= micropost.dislikes.count %></p>
    </div>

  </div>
  
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>